.catalogue_con{
	width: 1160px;
	overflow: hidden;
	background-color: white;
	/*position: relative;*/
}
.catalogue_con li{
	width: 1158px;
	height: 34px;
	font-size: 14px;
	color: #101010;
	background-color: #e8eaf6;
	margin-top: 16px;
}
.catalogue_con ul li{
	background-color: white;
}
.catalogue_read_con{
	width: 813px;
}
.catalogue_read_con li{
	width: 811px;
}
.catalogue_con .img span:nth-child(-n+2), .catalogue_con .article span:nth-child(-n+2),.catalogue_con .pedigree span:nth-child(-n+2){
	float: left;
}
.catalogue_con li .back{
	width: 20px;
	height: 20px;
	margin:7px 20px;
}

.catalogue_con .img .back{
	background: url("../images/icon/img.png") no-repeat;
	background-size: 100%;
}
.catalogue_con .article .back{
	background: url("../images/icon/article.png") no-repeat;
	background-size: 100%;
}
.catalogue_con .pedigree .back{
	background: url("../images/icon/pedigree.png") no-repeat;
	background-size: 100%;
}
.catalogue_con li .title{
	font-size: 16px;
	color: #333;
	margin-top: 5px;
	width: 50px;
	height: 20px;
	margin: 8px 0px;
}

.catalogue_con .img span:nth-child(n+3), .catalogue_con .article span:nth-child(n+3), .catalogue_con .pedigree span:nth-child(n+3){
	float: right;
	margin:7px 15px 0 0;
	width: 20px;
	height: 20px;
}
.catalogue_con .img .drop_down, .catalogue_con .article .drop_down, .catalogue_con .pedigree .drop_down{
	background: url("../images/icon/drop_down.png") no-repeat;
	background-size: 100%;
}
.catalogue_con .img .drop_up, .catalogue_con .article .drop_up, .catalogue_con .pedigree .drop_up{
	background: url("../images/icon/drop_up.png") no-repeat;
	background-size: 100%;
}
.catalogue_con .img .add_cata, .catalogue_con .article .add_cata, .catalogue_con .pedigree .add_cata{
	background: url("../images/icon/add_cata.png") no-repeat;
	background-size: 100%;
}
.catalogue_con .img .add_title, .catalogue_con .article .add_title, .catalogue_con .pedigree .add_title{
	background: url("../images/icon/add_title.png") no-repeat;
	background-size: 100%;
}


/* 目录部分 */
.catalogue_con ul{
	margin-left: 55px;
}

.catalogue_con ul.cata_level li{
	/*background-color: white;*/
	margin-top: 8px;
}

.catalogue_con ul.cata_level li span:nth-child(-n+3){
	float: left;
}

.catalogue_con ul.cata_level li span:nth-child(1){
	height: 20px;
	margin: 7px;
}
.catalogue_con ul.cata_level li .cata_drop_down{
	width: 20px;
	background: url("../images/icon/cata_drop_down.png") no-repeat;
	background-size: 100%;
}
.catalogue_con ul.cata_level li .cata_drop_up{
	width: 20px;
	background: url("../images/icon/cata_drop_up.png") no-repeat;
	background-size: 100%;
}

.catalogue_con ul.cata_level li span.cata_title{
	font-size: 14px;
	color: #333;
	margin-top: 9px;
}

.catalogue_con ul.cata_level li span.cata_edit{
	width: 17px;
	height: 17px;
	margin-left: 10px;
	margin-top: 9px;
	background: url("../images/icon/edit.png") no-repeat;
	background-size: 100%;
}

.catalogue_con ul.cata_level li span:nth-child(n+4){
	float: right;
	width: 20px;
	height: 20px;
	background-color: gold;
}
.catalogue_con ul.cata_level li span.cata_delete{
	background: url("../images/icon/delete.png") no-repeat;
	background-size: 100%;
	margin: 7px 105px 0 0;
}

.catalogue_con ul.cata_level li span.cata_add_title{
	background: url("../images/icon/add_title.png") no-repeat;
	background-size: 100%;
	margin: 7px 15px 0 0;
}


/* 标题部分 */
.catalogue_con ul.title_level li {
	margin-top: 8px;
}

.catalogue_con ul.title_level li span:nth-child(-n+2){
	float: left;
}

.catalogue_con ul.title_level li span.article_title{
	margin:9px 0 0 10px;
	height: 20px;
	color: #101010;
	font-size: 14px;
}
.catalogue_con ul.title_level li a span.article_title{
	color: #101010;
}
.catalogue_con ul.title_level li a:hover span.article_title{
	color: #5677FC;
}

.catalogue_con ul.title_level li span.article_edit{
	width: 17px;
	height: 17px;
	margin-left: 10px;
	margin-top: 9px;
	background: url("../images/icon/edit.png") no-repeat;
	background-size: 100%;
}

.catalogue_con ul.title_level li span.article_delete{
	float: right;
	width: 20px;
	height: 20px;
	background: url("../images/icon/delete.png") no-repeat;
	background-size: 100%;
}

/* 标题为一级 */
.catalogue_con ul.title_level_1 li span.article_delete{
	margin: 7px 105px 0 0;
}
/* 标题为二级 */
.catalogue_con ul.title_level_2 li span.article_delete{
	margin: 7px 161px 0 0;
}



/* 弹框 */
.delete_pop h4, .input_pop h4, .title_edit h4{
	margin-top: 30px;
}
.delete_pop h4 span{
	width: 40px;
	height: 40px;
	float: left;
	background: url("../images/icon/delete_alert.png") no-repeat;
	background-size: 100%;
	position: absolute;
	left: 110px;
	top:-5px;
}

.delete_pop_cata .delete_pop p,.delete_pop_title .delete_pop p{
	text-align: center;
}

.delete_pop_cata .delete_pop button.delete,.delete_pop_title .delete_pop button.delete{
	background-color: #e51c23;
	border: 1px solid #e51c23;
}

.return_pop h4{
	margin: 22px 0 0 -25px;
}
.return_pop p{
	margin: 10px 20px;
}
.return_pop .btn{
	margin:-20px 50px 0 0;
	padding: 2px 12px;
}
.input_pop h4, .title_edit_con h4{
	margin-left: -55px;
}
.input_pop p, .title_edit_con p{
	width: auto;
	margin: 0px 10px 25px 10px;
}
.input_pop .btn, .title_edit_con .btn{
	margin-top: -25px;
	padding: 2px 12px;
}