<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>王氏家谱-文化中心</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %} ">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/upload_img.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/user_center_gene.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/family_center.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/culture_center.css' %}">
	<script type="text/javascript" src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
	<style type="text/css">
		.caret{
			margin: 7px 0;
		}

	</style>
</head>
<body>
	<div class="top_con">
		<div class="top_nav">
			<a href="{% url 'family:index' %}" class="logo">
				<img src="/static/images/nav_logo.png" alt="导航logo" style="width: 300px; height: 55px;">
			</a>
			<a href="{% url 'family:center' %}" class="family">家谱中心</a>
			<a href="{% url 'culture:center' %}" class="culture current">文化中心</a>
			{% if user.is_authenticated %}
			<div class="user">
				<div class="btn-group">
					<button type="button" class="btn btn-default">{{user.username}}</button>
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<span class="caret"></span>
					<span class="sr-only">toggle down</span>
					</button>
					<ul class="dropdown-menu">
						<li><a href="{% url 'family:create' 0 %}">创建家谱</a></li>
						<li><a href="{% url 'user:user_center_gene' %}">我的家谱</a></li>
						<li><a href="{% url 'user:user_center_info' %}">我的信息</a></li>
						<li><a href="{% url 'user:logout' %}">退出登录</a></li>
					</ul>
	    		</div>
			</div>
			{% else %}
			<div class="tourist" style="float: right;margin-right:80px; ">
				<ul>
					<li style="float: left; margin:14px 10px;"><a href="{% url 'user:login' %}">登录</a></li>
					<li style="float: left;margin:14px 10px;"><a href="{% url 'user:register' %}">注册</a></li>
				</ul>
			</div>
			{% endif %}
		</div>
	</div>

	<div class="search_con">
		<div class="search">
			<span class="dropdown">
				<a id="drop2" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
				    标题
				 	<span class="caret"></span>
				</a>
			    <ul class="dropdown-menu" aria-labelledby="drop2">
			        <li><a href="#">标题</a></li>
			        <li><a href="#">作者</a></li>
			        <li><a href="#">关键字</a></li>
			    </ul>
		    </span>

		    <span class="search_input_con">
		    	<form action="{% url 'search:culture_article' %}" method="get">
					<input type="text" name="q" class="search_input" placeholder="请根据左侧分类进行搜索" value="{{query}}">
					<span class="search_img">
						<input type="submit" style="opacity: 0; height: 100%; weight: 100%;">
					</span>
				</form>
		    </span>
		</div>
	</div>
	<div class="user_head" style="border: 1px solid white;">
		<span style="font-size: 20px;">查询 &nbsp;&nbsp; {{query}} &nbsp;&nbsp; 结果如下：</span>
	</div>
	<div class="user_body" >
		<div class="gene_knowledge" style="padding: 30px;">
			<ul>
				{% for article in imgs_page %}
				<li>
					<a href="{% url 'culture:read' article.id %} ">
						<img src="{{ article.img.url }}" alt="{{ article.title}}">
						<h2>{{ article.title }}</h2>
						<p>{{ article.introduce}}</p>
					</a>
				</li>
				{% empty %}
				<li>暂无相关文章信息</li>
				{% endfor %}
			</ul>
		</div>
		<div class="img_page">
			<div id="page" class="page_div">
				{% if imgs_page.has_previous %}
					<a href="{% url 'culture:center'%}?page={{imgs_page.previous_page_number}}" id="prePage"> &lt; </a>
				{% endif %}
				{% for pindex in pages %}
					{% if pindex == imgs_page.number %}
						<a href="{% url 'culture:center'%}?page={{pindex}}" class="current">{{pindex}}</a>
					{% else %}
						<a href="{% url 'culture:center'%}?page={{pindex}}">{{pindex}}</a>
					{% endif %}
				{% endfor %}
				{% if imgs_page.has_next %}
					<a href="{% url 'culture:center'%}?page={{imgs_page.next_page_number}}" id="nextPage"> &gt; </a>
				{% endif %}
				<span>共 {{pages_num}} 页</span>
			</div>
		</div>
	</div>

	<script type="text/javascript">
		$(function(){
			$('.search .dropdown-menu li a').click(function(){
				var text = $(this).text()+'<span class="caret"></span>';
				$('.search .dropdown-toggle').html(text);
			})
		})
	</script>

</body>
</html>